* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Montserrat;
	font-size: 14px;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
.header {
	background-image: url(cover.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.header-1 {
	width: 1332px;
	display: flex;
	margin: auto;
	height: 104px;
	align-items: center;
}
.indicorp {
	color: #252B42;
	font-size: 24px;
	font-weight: 900;
	padding-left: 136px;
	padding-right: 117px;
}
.nav {
	list-style-type: none;
	display: flex;
	width: 280px;
	justify-content: space-between;
	padding: 0;
}
.chto {
	padding-left: 659px;
}
.header-2 {
	width: 1046px;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 80px;
}
.empower {
	width: 509px;
}
.text-empower {
	color: #252B42;
	font-size: 58px;
	font-weight: 900;
	line-height: 80px;
}
.we {
	color: #737373;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	padding-right: 133px;
	padding-top: 35px;
}
.knopka {
	display: flex;
	width: 350px;
	justify-content: space-between;
	margin-top: 35px;
}
.get {
	width: 185px;
	height: 48px;
	background: #FFA62B;
	border-radius: 37px;
	font-size: 14px;
	line-height: 48px;
	text-align: center;
	font-weight: 600;
	color: #fff;
}
.learn-more {
	width: 154px;
	height: 48px;
	border: 1px solid #00A0C1;
	border-radius: 37px;
	text-align: center;
	line-height: 48px;
	color: #00A0C1;
	font-size: 14px;
	font-weight: 600;
}
.empower-block {
	width: 1046px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.digital, .digital-3, .digital-2{
	width: 328px;
	padding: 35px 40px;
	background-color: #fff;
	position: relative;
	top: 100px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.digital-2 {
	padding-right: 25px;
}
.icon {
	width: 48px;
	height: 48px;
	background-color: blue;
}
.digital-text, .digital-text-block-3 {
	font-size: 24px;
	font-weight: 600;
	color: #000;
	padding: 10px 0;

}
.digital-text-2, .digital-text-2-block, .digital-text-2-block-3 {
	font-size: 14px;
	color: #737373;	
}
.digital-text-2-block {
	padding-right: 50px;

}
.digital-3 {
	background-color: #00A0C1;
	color: #fff;
}
.digital-text-block-3 {
	color: #fff;
}
.digital-text-2-block-3 {
	color: #fff;
}
.section-1 {
	width: 1050px;
	margin: auto;
	padding: 80px 0;
}
.why {
	width: 864px;
	margin: auto;
	padding-bottom: 50px;
}
.choose {
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	padding-bottom: 10px;
}
.choose-2 {
	font-weight: 14px;
	color: #737373;
	font-weight: 600;
	text-align: center;
	width: 511px;
	margin: auto;
}
.why-block {
	width: 1050px;
	display: flex;
	justify-content: space-between;
}
.cases-block {
	padding: 30px 30px;
	width: 230px;
	background-color: #fff;

}
.icon-cases{
	width: 48px;
	height: 48px;
	background-color: blue;
	margin: auto;

}
.k3 {
	font-size: 40px;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
}
.cases-text {
	font-size: 16px;
	color: #737373;
	text-align: center;

}
.section-s1 {
	background-color: #FAFAFA;
	padding-top: 100px;

}
.section-s2 {
	background-color: #FAFAFA;

}
.wrap-s2, .wrap-s3 {
	width: 1050px;
	margin: auto;
	padding: 80px 0;
}
.practice {
	width: 864px;
	margin: auto;
	padding: 45px 0;
	text-align: center;
}
.practice-text {
	font-size: 40px;
	font-weight: 700;
}
.practice-text-2 {
	font-size: 14px;
	color: #737373;
	font-weight: 600;
	line-height: 20px;
	width: 470px;
	text-align: center;
	margin: auto;
	padding-top: 10px;
}
.practice-block {
	display: flex;
	justify-content: space-between;
}
.single {
	width: 240px;
	background-color: #fff;
}
.single-text, .single-text-s {
	font-size: 16px;
	font-weight: 600;
	padding: 30px 72px 15px 30px;
}
.single-text-2, .single-text-2-s {
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	padding: 0 42px 30px 30px;
}
.single-img {
	width: 230px;
	margin: auto;
}
.single-text-2-s {
	padding-bottom: 50px;
}
.we-are {
	width: 864px;
	margin: auto;
	padding: 100px 176px;
}
.we-are-text {
	font-size: 40px;
	line-height: 57px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 15px;
}
.we-are-text-2 {
	font-size: 14px;
	font-weight: 600;
	color: #737373;
	text-align: center;
}
.wrap-s3 {
	padding: 0;

}